Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

agent: reuse core lace-dir helpers
  packages/agent/src/config/lace-dir.ts
Due: prettier --write, eslint --fix

agent: compute messageCount/lastActive from durable events
  packages/agent/src/server.ts
  packages/agent/src/storage/__tests__/session-store.test.ts
  packages/agent/src/storage/event-log.ts
  packages/agent/src/storage/session-store.ts
Due: prettier --write, eslint --fix

agent: return SessionNotFound for missing session/load
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

agent: use JobNotFound error code 8
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

agent: use NotInitialized error code 9
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

protocol: add ConnectionNotFound error code
  docs/protocol-spec.md
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/server.ts
  packages/ent-protocol/src/errors.ts
  packages/ent-protocol/src/index.ts
Due: prettier --write, eslint --fix

agent: add ent/session/checkpoint and rewind
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/checkpoint-store.ts
  packages/agent/src/storage/files-from-events.ts
Due: prettier --write, eslint --fix

agent: implement ent/session/compact
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

docs: clarify rewind targets checkpoint eventSeq
  docs/protocol-spec.md
Due: none

ids: centralize ent sessionId validation
  packages/agent/src/server.ts
  packages/supervisor/src/supervisor.ts
  packages/web/lib/server/supervisor-service.ts
  packages/web/lib/validation/session-id-validation.ts
Due: prettier --write, eslint --fix

agent: enforce initialize params
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/__tests__/agent-process.jobs.e2e.test.ts
  packages/agent/src/__tests__/agent-process.providers.e2e.test.ts
  packages/agent/src/__tests__/agent-process.subagent.e2e.test.ts
  packages/agent/src/__tests__/durable-events.test.ts
  packages/agent/src/__tests__/helpers/initialize.ts
  packages/agent/src/__tests__/providers-connections.test.ts
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

supervisor: send full initialize params
  packages/supervisor/src/__tests__/supervisor-agent-process.e2e.test.ts
  packages/supervisor/src/supervisor.ts
Due: prettier --write, eslint --fix

docs: add compaction porting todo
  docs/plans/2026-01-03/agent-process-refactor.md
Due: none

docs: note duplicated agent implementations
  docs/plans/2026-01-03/agent-process-refactor.md
Due: none

agent: use core bash tool for run
  docs/plans/2026-01-03/agent-process-refactor.md
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/__tests__/agent-process.subagent.e2e.test.ts
  packages/agent/src/server.ts
  packages/agent/src/tools/shell-exec.ts
  packages/supervisor/src/__tests__/supervisor-agent-process.e2e.test.ts
Due: prettier --write, eslint --fix

agent: use core summarization for ent/session/compact
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/runtime/test-provider.ts
  packages/agent/src/server.ts
  packages/core/package.json
Due: prettier --write, eslint --fix

tui: capture agent stderr in debug
  packages/tui/src/protocol/transport.rs
  packages/tui/src/ui/mod.rs
Due: none

tui: auto-open configure and fix modal bleed
  packages/tui/src/ui/mod.rs
Due: none

docs: log provider-config + modal fixes
  docs/plans/2026-01-04/ent-tui-ratatui-implementation-log.md
Due: none

tui: autoscroll chat history
  packages/tui/src/app/mod.rs
  packages/tui/src/app/search.rs
  packages/tui/src/app/sessions.rs
  packages/tui/src/app/ui.rs
  packages/tui/src/ui/mod.rs
Due: none

docs: log chat autoscroll fix
  docs/plans/2026-01-04/ent-tui-ratatui-implementation-log.md
Due: none

agent: port core compaction strategies
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

docs: clarify ent/session/compact strategies
  docs/protocol-spec.md
Due: none

agent: standardize InvalidParams for input validation
  packages/agent/src/__tests__/agent-process.providers.e2e.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

core: remove leftover task delegation test helper
  packages/core/src/test-utils/delegation-test-helper.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

core: increase container remove timeout
  packages/core/src/containers/apple-container.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

ent-protocol: add ACP error codes
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/server.ts
  packages/ent-protocol/src/errors.ts
Due: prettier --write, eslint --fix

tests: shutdown agent processes cleanly
  packages/agent/src/__tests__/helpers/agent-process.ts
Due: prettier --write, eslint --fix

core: remove task notification remnants
  packages/core/config/agent-personas/sections/tools.md
  packages/core/src/agents/agent-getqueue-contents.test.ts
  packages/core/src/agents/agent-queue-e2e.test.ts
  packages/core/src/agents/agent-queue-methods.test.ts
  packages/core/src/agents/agent-queue-types.test.ts
  packages/core/src/agents/agent-sendmessage-queue.test.ts
  packages/core/src/agents/types.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

core: make apple container removal less flaky
  packages/core/src/containers/apple-container.ts
  packages/core/src/containers/container-cleanup-validation.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

web: drop unused faTasks export
  packages/web/lib/fontawesome.ts
Due: prettier --write, eslint --fix

ent-protocol: allow MCP config in ent/session/configure
  packages/ent-protocol/src/schemas/methods.ts
  packages/ent-protocol/src/schemas/shared.ts
Due: prettier --write, eslint --fix

agent: manage MCP servers via ent/session/configure
  packages/agent/src/main.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/session-store.ts
Due: prettier --write, eslint --fix

web: control session MCP via supervisor
  packages/web/app/routes/__tests__/api.projects.$projectId.sessions.$sessionId.mcp.servers.$serverId.control.test.ts
  packages/web/app/routes/__tests__/api.projects.$projectId.sessions.$sessionId.mcp.servers.test.ts
  packages/web/app/routes/api.projects.$projectId.sessions.$sessionId.mcp.servers.$serverId.control.ts
  packages/web/app/routes/api.projects.$projectId.sessions.$sessionId.mcp.servers.ts
  packages/web/app/routes/api.projects.$projectId.sessions.ts
  packages/web/test-utils/fixtures/mcp-stdio-test-server.cjs
Due: prettier --write, eslint --fix

deps: remove better-sqlite3
  package-lock.json
  package.json
Due: none

ent-protocol: brand SessionId and permission schemas
  packages/ent-protocol/src/ids.ts
  packages/ent-protocol/src/schemas/methods.ts
Due: prettier --write, eslint --fix

agent: include requestedAt in permission requests
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

supervisor/web: validate ent protocol ids and methods
  packages/supervisor/src/supervisor-agent-process.ts
  packages/supervisor/src/supervisor.ts
  packages/web/lib/server/supervisor-service.ts
  packages/web/lib/validation/session-id-validation.ts
Due: prettier --write, eslint --fix

Path conditions:
  cd packages/core && npx eslint --fix: any of: packages/core/src/**/*.{ts,tsx}
  prettier --write: ((any of: packages/core/src/**/*.{ts,tsx}) or (any of: packages/web/**/*.{ts,tsx})) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
