Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "packages/core/src/**/*.{ts,tsx}": [
    "cd packages/core && npx eslint --fix",
    "prettier --write"
  ],
  "packages/web/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

Remove redundant file_list tool
  packages/core/src/agents/agent.test.ts
  packages/core/src/conversation-state.test.ts
  packages/core/src/sessions/session.ts
  packages/core/src/test-utils/delegation-test-helper.ts
  packages/core/src/tools/executor.ts
  packages/core/src/tools/file-list.test.ts
  packages/core/src/tools/implementations/file_list.ts
  packages/core/src/tools/tool-catalog.test.ts
  packages/core/src/tools/tool-catalog.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Use actual cat -n format (tabs) instead of arrows
  packages/core/src/tools/file-read.test.ts
  packages/core/src/tools/implementations/file_read.ts
  packages/core/src/tools/implementations/ripgrep_search.ts
  packages/core/src/tools/ripgrep-search.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Refactor token types: context vs cumulative (BREAKING CHANGE)
  packages/core/src/agents/agent-token.test.ts
  packages/core/src/agents/agent.ts
  packages/core/src/helpers/base-helper.ts
  packages/core/src/threads/token-aggregation.test.ts
  packages/core/src/threads/token-aggregation.ts
  packages/core/src/token-management/context-analyzer.ts
  packages/core/src/token-management/types.ts
  packages/web/hooks/useAgentTokenUsage.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Fix agent-token test expectations for new token structure
  packages/core/src/agents/agent-token.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Fix TypeScript errors and restore message subcategories
  packages/core/src/agents/agent.ts
  packages/core/src/helpers/base-helper.ts
  packages/core/src/token-management/context-analyzer.ts
  packages/core/src/token-management/types.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Move treemap to left of summary stats
  packages/web/components/modals/ContextBreakdownModal.tsx
Due: prettier --write, eslint --fix

Add interactive drill-down to treemap
  packages/web/components/modals/ContextTreemap.tsx
Due: prettier --write, eslint --fix

Fix treemap drill-down and restructure layout
  packages/web/components/modals/ContextBreakdownModal.tsx
  packages/web/components/modals/ContextTreemap.tsx
Due: prettier --write, eslint --fix

feat: show files in directory browser (read-only)
  packages/web/app/routes/api.filesystem.list.ts
  packages/web/components/ui/DirectoryField.tsx
  packages/web/e2e/directory-browser.e2e.ts
Due: prettier --write, eslint --fix

Finalize context modal layout
  packages/web/components/modals/ContextBreakdownModal.tsx
Due: prettier --write, eslint --fix

test: add test for less aggressive filtering behavior
  packages/web/e2e/directory-browser.e2e.ts
Due: prettier --write, eslint --fix

Make summary stats horizontal in left column
  packages/web/components/modals/ContextBreakdownModal.tsx
Due: prettier --write, eslint --fix

Add token type refactoring plan documents
  docs/plans/token-refactor-impact.md
  docs/plans/token-usage-type-refactor.md
Due: none

feat: add mkdir API endpoint with validation
  packages/web/app/routes.ts
  packages/web/app/routes/api.filesystem.mkdir.ts
  packages/web/types/filesystem.ts
Due: prettier --write, eslint --fix

feat: add New Folder button to directory browser
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

feat: add NewFolderDialog component with validation
  packages/web/components/ui/NewFolderDialog.tsx
  packages/web/components/ui/index.ts
Due: prettier --write, eslint --fix

feat: integrate mkdir API with directory browser UI
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

feat: improve visual hierarchy in directory browser
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

feat: restore breadcrumb navigation in directory browser
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

Fix reviewer issues #1, #2, #3, #5, #6
  packages/core/src/agents/agent.ts
  packages/core/src/threads/token-aggregation.ts
  packages/core/src/token-management/context-analyzer.ts
  packages/web/app/routes/api.agents.$agentId.context.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Fix test expectation and clarify base-helper context logic
  packages/core/src/agents/agent-token.test.ts
  packages/core/src/helpers/base-helper.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat: Finder-style editable path and streamlined project creation
  packages/web/components/config/ProjectCreateModal.tsx
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

feat: autofocus directory browser and move width to wizard
  packages/web/components/config/ProjectCreateModal.tsx
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

fix: prevent NewFolderDialog from interfering with wizard
  packages/web/components/ui/NewFolderDialog.tsx
Due: prettier --write, eslint --fix

fix: improve NewFolderDialog focus and navigation
  packages/web/components/ui/DirectoryField.tsx
  packages/web/components/ui/NewFolderDialog.tsx
Due: prettier --write, eslint --fix

debug: add logging to trace folder creation navigation issue
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

fix: prevent redirect to home when navigating to empty folders
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

feat: default project creation to global smart model
  packages/web/components/config/ProjectCreateModal.tsx
Due: prettier --write, eslint --fix

refactor: use SettingsProvider for default smart model
  packages/web/components/config/ProjectCreateModal.tsx
  packages/web/components/providers/SettingsProvider.tsx
Due: prettier --write, eslint --fix

fix: allow wizard to close with ESC + add smart model debug logging
  packages/web/components/config/ProjectCreateModal.tsx
  packages/web/components/ui/DirectoryField.tsx
  packages/web/components/ui/NewFolderDialog.tsx
Due: prettier --write, eslint --fix

fix: fallback to fast model when smart not configured
  packages/web/components/config/ProjectCreateModal.tsx
Due: prettier --write, eslint --fix

fix: enable ESC to close wizard and reduce modal width
  packages/web/components/config/ProjectCreateModal.tsx
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

chore: remove debug console logs
  packages/web/components/config/ProjectCreateModal.tsx
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

fix: address code review feedback - validation and security
  packages/web/app/routes/api.filesystem.mkdir.ts
  packages/web/components/providers/SettingsProvider.tsx
  packages/web/components/ui/NewFolderDialog.tsx
Due: prettier --write, eslint --fix

test: update filesystem list tests for files+directories
  packages/web/app/routes/__tests__/api.filesystem.list.test.ts
Due: prettier --write, eslint --fix

fix: add error handling to post-creation realpath check
  packages/web/app/routes/api.filesystem.mkdir.ts
Due: prettier --write, eslint --fix

Fix TypeScript and ESLint errors in web package
  packages/web/app/api/compaction-integration.test.ts
  packages/web/app/routes/api.agents.$agentId.context.ts
  packages/web/hooks/useAgentTokenUsage.ts
Due: prettier --write, eslint --fix

fix: remove realpath fallbacks to prevent symlink bypasses
  packages/web/app/routes/api.filesystem.list.ts
  packages/web/app/routes/api.filesystem.mkdir.ts
Due: prettier --write, eslint --fix

fix: update ProjectEditModal to use inline directory browser
  packages/web/components/config/ProjectEditModal.tsx
Due: prettier --write, eslint --fix

test: remove outdated DirectoryField unit tests
  packages/web/components/ui/DirectoryField.test.tsx
Due: prettier --write, eslint --fix
