Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "packages/core/src/**/*.{ts,tsx}": [
    "cd packages/core && npx eslint --fix",
    "prettier --write"
  ],
  "packages/web/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

fix: add SettingsProvider mocks to ProjectSelectorPanel tests
  packages/web/components/ProjectSelectorPanel.test.tsx
  packages/web/components/config/ProjectSelectorPanel.test.tsx
Due: prettier --write, eslint --fix

fix: rename unused catch variable to follow linting rules
  packages/web/app/routes/api.filesystem.mkdir.ts
Due: prettier --write, eslint --fix

fix: add optional chaining to breadcrumbs to prevent test failures
  packages/web/components/ui/DirectoryField.tsx
Due: prettier --write, eslint --fix

test: update ProjectSelectorPanel tests for inline browser UI
  packages/web/components/ProjectSelectorPanel.test.tsx
  packages/web/components/config/ProjectSelectorPanel.test.tsx
Due: prettier --write, eslint --fix

test: fix ProjectSelectorPanel test assertions
  packages/web/components/ProjectSelectorPanel.test.tsx
  packages/web/components/config/ProjectSelectorPanel.test.tsx
Due: prettier --write, eslint --fix

test: avoid duplicate heading query in modal test
  packages/web/components/ProjectSelectorPanel.test.tsx
Due: prettier --write, eslint --fix

fix: use safeParse for validation and properly skip test
  packages/web/app/routes/api.filesystem.mkdir.ts
  packages/web/components/config/ProjectSelectorPanel.test.tsx
Due: prettier --write, eslint --fix

fix: sanitize tool names for OpenAI and emit errors on retry exhaustion
  packages/core/src/agents/agent.test.ts
  packages/core/src/agents/agent.ts
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat: auto-fallback to non-streaming for unverified OpenAI orgs
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: emit token usage updates after tool execution
  packages/core/src/agents/agent.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat: add TOKEN_USAGE_UPDATE event for real-time token tracking
  packages/core/src/agents/agent.ts
  packages/core/src/persistence/database.ts
  packages/core/src/threads/types.ts
  packages/web/hooks/useAgentTokenUsage.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor: extract token usage parsing logic to eliminate duplication
  packages/web/hooks/useAgentTokenUsage.ts
Due: prettier --write, eslint --fix

fix: handle tool name collisions with numeric suffix
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: make tool name mapping request-scoped to prevent concurrent request bugs
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: show original tool names in error messages, add triple collision test
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: enforce OpenAI's 64-character limit on tool names
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: handle duplicate tool instances and extract parseToolCall helper
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: collapse consecutive underscores and validate tool names
  packages/core/src/agents/agent.ts
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

cleaanup junk
  .github-issue-container-isolation.md
  .gitignore
  WORKSPACE-CONTEXT-DESIGN.md
Due: none

feat(api): add workspace information endpoint
  packages/web/app/routes.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.workspace.test.ts
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
Due: prettier --write, eslint --fix

docs: add comprehensive event visibility implementation plan
  docs/plans/2025-10-01/event-visibility.md
Due: none

feat(hooks): add useWorkspaceDetails hook
  packages/web/hooks/__tests__/useWorkspaceDetails.test.tsx
  packages/web/hooks/useWorkspaceDetails.ts
Due: prettier --write, eslint --fix

feat(providers): integrate workspace details into SessionProvider
  docs/plans/2025-10-01/workspace-info.md
  packages/web/__tests__/utils/provider-mocks.ts
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
  packages/web/components/providers/SessionProvider.tsx
  packages/web/hooks/__tests__/useWorkspaceDetails.test.tsx
  packages/web/hooks/useWorkspaceDetails.ts
Due: prettier --write, eslint --fix

feat(ui): add workspace mode badge to SessionSection
  packages/web/components/sidebar/SessionSection.tsx
Due: prettier --write, eslint --fix

docs: update workspace-info plan with progress and learnings
  docs/plans/2025-10-01/workspace-info.md
Due: none

feat(web): add WorkspaceDetailsPanel component
  packages/web/components/config/WorkspaceDetailsPanel.tsx
  packages/web/components/config/__tests__/WorkspaceDetailsPanel.test.tsx
  packages/web/lib/fontawesome.ts
Due: prettier --write, eslint --fix

feat(web): add workspace tab to SessionEditModal
  packages/web/components/config/SessionEditModal.tsx
Due: prettier --write, eslint --fix

feat(web): connect workspace badge to config modal tab
  packages/web/components/config/SessionEditModal.tsx
  packages/web/components/pages/AgentPageContent.tsx
  packages/web/components/sidebar/SessionSection.tsx
  packages/web/components/sidebar/SidebarContent.tsx
Due: prettier --write, eslint --fix

docs: mark workspace visibility implementation complete
  docs/plans/2025-10-01/workspace-info.md
Due: none

feat(workspace): add 'worktree' mode for git isolation without containers
  packages/core/src/sessions/session-config.ts
  packages/core/src/sessions/session-workspace.test.ts
  packages/core/src/sessions/session.ts
  packages/core/src/workspace/workspace-manager.ts
  packages/core/src/workspace/worktree-workspace-manager.test.ts
  packages/core/src/workspace/worktree-workspace-manager.ts
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
  packages/web/components/config/WorkspaceDetailsPanel.tsx
  packages/web/components/providers/SessionProvider.tsx
  packages/web/components/sidebar/SessionSection.tsx
  packages/web/hooks/useWorkspaceDetails.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(db): add visible_to_model column for event visibility tracking
  docs/plans/2025-10-01/remove-getLaceEvents.md
  packages/core/src/agents/agent-compaction-events.test.ts
  packages/core/src/agents/agent.ts
  packages/core/src/persistence/database-migration-v14.test.ts
  packages/core/src/persistence/database.ts
  packages/core/src/persistence/event-visibility.test.ts
  packages/core/src/threads/compaction-visibility.test.ts
  packages/core/src/threads/thread-manager.ts
  packages/core/src/threads/types.test.ts
  packages/core/src/threads/types.ts
  packages/web/app/routes/api.agents.$agentId.history.ts
  packages/web/components/providers/EventStreamProvider.tsx
  packages/web/components/timeline/TimelineMessage.tsx
  packages/web/hooks/useAgentEvents.ts
  packages/web/hooks/useEventStream.ts
  packages/web/hooks/useProcessedEvents.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(workspace): make default mode platform-aware
  packages/core/src/sessions/session-workspace.test.ts
  packages/core/src/sessions/session.ts
  packages/core/src/workspace/workspace-manager.ts
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(test): reset WorkspaceManagerFactory singletons in test setup
  packages/core/src/test-utils/core-test-setup.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: prevent state update after EditInstanceModal unmount
  packages/web/components/providers/EditInstanceModal.tsx
Due: prettier --write, eslint --fix

fix(lint): resolve linting errors in workspace code
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
  packages/web/components/config/__tests__/WorkspaceDetailsPanel.test.tsx
  packages/web/hooks/__tests__/useWorkspaceDetails.test.tsx
Due: prettier --write, eslint --fix

docs: add architectural refactoring plans
  docs/plans/2025-10-01/remove-getLaceEvents.md
  docs/plans/2025-10-01/review-tasks-1-4.md
  docs/plans/2025-10-01/simplify-compaction-architecture.md
Due: none

fix(test): reset workspace manager singletons after cleanup
  packages/core/src/test-utils/core-test-setup.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(test): ensure all workspaces destroyed before temp dir cleanup
  packages/core/src/test-utils/core-test-setup.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(lint): prefix unused error variables with underscore
  packages/core/src/test-utils/core-test-setup.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(compaction): update summarize strategy to return CompactionResult
  packages/core/src/threads/compaction/summarize-strategy.test.ts
  packages/core/src/threads/compaction/summarize-strategy.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix
