Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "packages/core/src/**/*.{ts,tsx}": [
    "cd packages/core && npx eslint --fix",
    "prettier --write"
  ],
  "packages/web/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

fix(providers): increase max_completion_tokens to 16384
  packages/core/src/providers/openai-provider.test.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): use model's default_max_tokens from catalog instead of hardcoded limits
  packages/core/src/providers/anthropic-provider.ts
  packages/core/src/providers/gemini-provider.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): respect provider-specified rate limit delays
  packages/core/src/providers/base-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): enable retry for rate limit errors during stream creation
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): recognize rate_limit_exceeded error code for retry
  packages/core/src/providers/base-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(providers): implement Responses API conversation chaining with previous_response_id
  docs/plans/responses-api-chaining.md
  packages/core/src/agents/agent.ts
  packages/core/src/providers/base-provider.ts
  packages/core/src/providers/openai-provider.ts
  packages/core/src/threads/types.ts
  state.txt
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

debug(providers): add detailed logging for Responses API requests and retry decisions
  packages/core/src/providers/base-provider.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

snapshot branch
  packages/core/src/agents/agent.ts
  packages/core/src/providers/claude-sdk-provider.ts
  packages/core/src/providers/claude-sdk-tool-approval.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Revert claude-agents-sdk merge - not ready for prime time yet
  .gitignore
  docs/plans/2025-10-01/claude-agents-sdk-fix.md
  docs/plans/2025-10-01/claude-agents-sdk.md
  docs/plans/2025-10-01/fixes.md
  package-lock.json
  package.json
  packages/core/docs/plans/2025-09-26/yolo-mode.md
  packages/core/docs/plans/2025-10-04/sdk-provider-status.md
  packages/core/package.json
  packages/core/src/agents/agent.test.ts
  packages/core/src/agents/agent.ts
  packages/core/src/providers/anthropic-provider.ts
  packages/core/src/providers/base-provider.ts
  packages/core/src/providers/catalog/data/claude-agents-sdk.json
  packages/core/src/providers/claude-sdk-e2e.test.ts
  packages/core/src/providers/claude-sdk-integration.test.ts
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
  packages/core/src/providers/claude-sdk-tool-approval.test.ts
  packages/core/src/providers/gemini-provider.ts
  packages/core/src/providers/lmstudio-provider.ts
  packages/core/src/providers/ollama-provider.ts
  packages/core/src/providers/openai-provider.ts
  packages/core/src/providers/registry.ts
  packages/web/app/routes/api.provider.instances.ts
  packages/web/components/providers/AddInstanceModal.tsx
  packages/web/components/providers/ProviderInstanceProvider.tsx
  packages/web/vite.config.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

ci: switch from self-hosted to GitHub-hosted macOS runners
  .github/workflows/ci.yml
Due: none

Add Ent protocol spec docs
  docs/about-the-protocol.md
  docs/protocol-spec.md
Due: none

Add private journal entry
  .private-journal/2025-11-12/20-45-39-855492.embedding
  .private-journal/2025-11-12/20-45-39-855492.md
Due: none

Fix Ent protocol identifiers and nested jobs
  docs/about-the-protocol.md
  docs/protocol-spec.md
Due: none

Clarify toolCallId vs toolUseId equivalence
  docs/protocol-spec.md
Due: none

Add agent process refactor implementation plan
  docs/plans/2026-01-03/agent-process-refactor.md
Due: none

Document local credential handling for development
  docs/plans/2026-01-03/agent-process-refactor.md
Due: none

Add agent process refactor design spec
  docs/plans/2026-01-03/agent-process-refactor-spec.md
  docs/plans/2026-01-03/agent-process-refactor.md
Due: none

Add ent-protocol package with NDJSON stdio transport
  packages/ent-protocol/package.json
  packages/ent-protocol/src/index.ts
  packages/ent-protocol/src/transport/__tests__/stdio.test.ts
  packages/ent-protocol/src/transport/stdio.ts
  packages/ent-protocol/src/transport/types.ts
  packages/ent-protocol/tsconfig.json
  packages/ent-protocol/vitest.config.ts
Due: prettier --write, eslint --fix

Add minimal JSON-RPC peer for ent-protocol
  packages/ent-protocol/src/index.ts
  packages/ent-protocol/src/rpc/__tests__/peer.test.ts
  packages/ent-protocol/src/rpc/peer.ts
Due: prettier --write, eslint --fix

Add lace-agent package with initialize and session/new
  packages/agent/package.json
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/index.ts
  packages/agent/src/main.ts
  packages/agent/src/server.ts
  packages/agent/tsconfig.json
  packages/agent/vitest.config.ts
Due: prettier --write, eslint --fix

Add basic session/list load and agent status methods
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

Refactor agent server to register methods on JsonRpcPeer
  packages/agent/src/__tests__/server-smoke.test.ts
  packages/agent/src/main.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

Add JSONL durable events and session/prompt stub
  packages/agent/src/__tests__/durable-events.test.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/event-log.ts
  packages/agent/src/storage/session-store.ts
Due: prettier --write, eslint --fix

Add stdio E2E tests for agent process
  package-lock.json
  packages/agent/package.json
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/__tests__/helpers/agent-process.ts
  packages/agent/src/config/lace-dir.ts
  packages/agent/src/index.ts
  packages/agent/src/main.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/event-log.ts
  packages/agent/src/storage/session-store.ts
  packages/ent-protocol/src/index.ts
  packages/ent-protocol/src/rpc/peer.ts
  packages/ent-protocol/src/transport/stdio.ts
Due: prettier --write, eslint --fix

Add permission-gated shell.exec tool to agent
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/protocol/types.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/session-store.ts
  packages/agent/src/tools/shell-exec.ts
  packages/ent-protocol/src/rpc/__tests__/peer.test.ts
  packages/ent-protocol/src/rpc/peer.ts
Due: prettier --write, eslint --fix

Add supervisor package to spawn lace-agent processes
  package-lock.json
  packages/supervisor/package.json
  packages/supervisor/src/__tests__/supervisor-agent-process.e2e.test.ts
  packages/supervisor/src/index.ts
  packages/supervisor/src/supervisor-agent-process.ts
  packages/supervisor/tsconfig.json
  packages/supervisor/vitest.config.ts
Due: prettier --write, eslint --fix

Use tsc-alias for ESM import extensions
  package-lock.json
  packages/agent/package.json
  packages/agent/src/index.ts
  packages/agent/src/main.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/event-log.ts
  packages/agent/src/storage/session-store.ts
  packages/agent/src/tools/shell-exec.ts
  packages/ent-protocol/package.json
  packages/ent-protocol/src/index.ts
  packages/ent-protocol/src/rpc/peer.ts
  packages/ent-protocol/src/transport/stdio.ts
  packages/supervisor/package.json
  packages/supervisor/src/__tests__/supervisor-agent-process.e2e.test.ts
  packages/supervisor/src/index.ts
Due: prettier --write, eslint --fix

Use json-rpc-2.0 for JsonRpcPeer
  package-lock.json
  packages/ent-protocol/package.json
  packages/ent-protocol/src/rpc/peer.ts
Due: prettier --write, eslint --fix

Enforce single active session per agent process
  packages/agent/src/server.ts
  packages/ent-protocol/src/rpc/peer.ts
Due: prettier --write, eslint --fix

Add Supervisor multi-session manager
  packages/supervisor/src/__tests__/supervisor-agent-process.e2e.test.ts
  packages/supervisor/src/index.ts
  packages/supervisor/src/supervisor.ts
Due: prettier --write, eslint --fix

Add supervisor session attach support
  packages/supervisor/src/__tests__/supervisor-agent-process.e2e.test.ts
  packages/supervisor/src/supervisor.ts
Due: prettier --write, eslint --fix

agent: add ent/session/configure and inject
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/protocol/types.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/session-store.ts
Due: prettier --write, eslint --fix

docs: align refactor plan with lace spec
  docs/plans/2026-01-03/agent-process-refactor.md
  docs/plans/lace-refactor-spec.md
Due: none

refactor(core): make ToolContext agent-free
  packages/core/src/agents/agent-approval-orchestration.test.ts
  packages/core/src/agents/agent.ts
  packages/core/src/helpers/session-helper.test.ts
  packages/core/src/helpers/session-helper.ts
  packages/core/src/mcp/integration.test.ts
  packages/core/src/test-utils/mock-session.ts
  packages/core/src/tools/executor.ts
  packages/core/src/tools/implementations/file_edit.test.ts
  packages/core/src/tools/implementations/task-manager/bulk-tasks.test.ts
  packages/core/src/tools/implementations/task-manager/integration.test.ts
  packages/core/src/tools/implementations/task-manager/tools.test.ts
  packages/core/src/tools/implementations/task-manager/tools.ts
  packages/core/src/tools/temp-directory-integration.test.ts
  packages/core/src/tools/tool.ts
  packages/core/src/tools/toolcontext-no-agent.test.ts
  packages/core/src/tools/types.ts
  packages/core/src/workspace/container-e2e.test.ts
  packages/core/src/workspace/workspace-integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test(core): stabilize delegate tool tests
  packages/core/src/test-utils/delegation-test-helper.ts
  packages/core/src/tools/delegate.test.ts
  packages/core/src/tools/implementations/delegate-task-based.test.ts
  packages/core/src/tools/implementations/delegate-unified.test.ts
  packages/core/src/tools/implementations/delegate.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(core): make dist ESM-compatible
  packages/core/package.json
  packages/core/src/providers/instance/manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(agent): add ent provider/connection config APIs
  packages/agent/package.json
  packages/agent/src/__tests__/agent-process.providers.e2e.test.ts
  packages/agent/src/__tests__/providers-connections.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

feat(agent): add ent/job APIs and shell jobs
  packages/agent/src/__tests__/agent-process.jobs.e2e.test.ts
  packages/agent/src/protocol/types.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

feat(supervisor): wrap provider config + jobs RPC
  packages/supervisor/src/__tests__/supervisor-agent-process.e2e.test.ts
  packages/supervisor/src/supervisor.ts
Due: prettier --write, eslint --fix

feat(agent): spawn subagent processes as jobs
  packages/agent/src/__tests__/agent-process.subagent.e2e.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix
