Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Rename SessionProvider to ProjectProvider
  packages/web/__tests__/utils/provider-mocks.ts
  packages/web/app/HomePage.tsx
  packages/web/app/HomePageClient.tsx
  packages/web/app/__tests__/HomePage.test.tsx
  packages/web/app/routes/project.$projectId.session.$sessionId.agent.$agentId.tsx
  packages/web/app/routes/project.$projectId.session.$sessionId.tsx
  packages/web/app/routes/project.$projectId.tsx
  packages/web/components/ProjectSelectorPanel.test.tsx
  packages/web/components/config/ProjectSelectorPanel.test.tsx
  packages/web/components/config/ProjectSelectorPanel.tsx
  packages/web/components/config/SessionConfigPanel.tsx
  packages/web/components/modals/ToolApprovalModal.tsx
  packages/web/components/pages/__tests__/AgentPageContent-agent-state.test.tsx
  packages/web/components/providers/ProjectProvider.tsx
  packages/web/components/providers/__tests__/ProjectProvider.test.tsx
  packages/web/components/sidebar/TaskSidebarSection.tsx
  packages/web/components/sidebar/__tests__/SidebarContent.test.tsx
  packages/web/components/sidebar/__tests__/TaskSidebarSection.test.tsx
  packages/web/hooks/useSessionEditModal.ts
Due: prettier --write, eslint --fix

Rename AgentProvider to SessionProvider
  packages/web/__tests__/utils/provider-mocks.ts
  packages/web/app/routes/api.agents.$agentId.message.ts
  packages/web/app/routes/project.$projectId.session.$sessionId.agent.$agentId.tsx
  packages/web/app/routes/project.$projectId.session.$sessionId.tsx
  packages/web/app/routes/project.$projectId.tsx
  packages/web/components/chat/Chat.tsx
  packages/web/components/chat/MemoizedChatInput.tsx
  packages/web/components/chat/__tests__/Chat.test.tsx
  packages/web/components/chat/__tests__/MemoizedChatInput.test.tsx
  packages/web/components/config/SessionConfigPanel.tsx
  packages/web/components/pages/AgentPageContent.tsx
  packages/web/components/pages/__tests__/AgentPageContent-agent-state.test.tsx
  packages/web/components/providers/EventStreamProvider.tsx
  packages/web/components/providers/SessionProvider.tsx
  packages/web/components/providers/TaskProvider.tsx
  packages/web/components/providers/__tests__/SessionProvider.test.tsx
  packages/web/components/sidebar/AgentsSection.tsx
  packages/web/components/sidebar/SessionSection.tsx
  packages/web/components/sidebar/SidebarContent.tsx
  packages/web/components/sidebar/TaskSidebarSection.tsx
  packages/web/components/sidebar/__tests__/AgentsSection.test.tsx
  packages/web/components/sidebar/__tests__/SessionSection.test.tsx
  packages/web/components/sidebar/__tests__/SidebarContent-agent-creation.test.tsx
  packages/web/components/sidebar/__tests__/SidebarContent.test.tsx
  packages/web/components/sidebar/__tests__/TaskSidebarSection.test.tsx
Due: prettier --write, eslint --fix

Apply code review feedback: fix lint violations and improve type safety
  packages/web/app/HomePageClient.tsx
  packages/web/app/routes/api.agents.$agentId.message.ts
  packages/web/components/config/ProjectSelectorPanel.test.tsx
  packages/web/components/config/SessionConfigPanel.tsx
  packages/web/components/pages/AgentPageContent.tsx
  packages/web/components/providers/ProjectProvider.tsx
  packages/web/components/providers/ProjectsProvider.tsx
  packages/web/components/providers/SessionProvider.tsx
  packages/web/components/providers/__tests__/ProjectProvider.test.tsx
  packages/web/components/providers/__tests__/ProjectsProvider.test.tsx
  packages/web/components/providers/__tests__/SessionProvider.test.tsx
  packages/web/components/sidebar/TaskSidebarSection.tsx
  packages/web/hooks/useAvailableTools.test.ts
  packages/web/hooks/useOnboarding.ts
Due: prettier --write, eslint --fix

Apply advanced TypeScript and performance improvements from code review
  packages/web/components/providers/ProjectProvider.tsx
  packages/web/components/providers/__tests__/ProjectsProvider.test.tsx
  packages/web/components/providers/__tests__/SessionProvider.test.tsx
  packages/web/hooks/useAvailableTools.ts
Due: prettier --write, eslint --fix

Fix missing useOptionalProjectsContext in test mocks
  packages/web/components/sidebar/__tests__/TaskSidebarSection.test.tsx
Due: prettier --write, eslint --fix

Apply additional code review feedback: memory safety and optimization
  packages/web/app/routes/api.agents.$agentId.message.ts
  packages/web/components/config/ProjectSelectorPanel.test.tsx
  packages/web/components/providers/ProjectProvider.tsx
  packages/web/components/providers/__tests__/SessionProvider.test.tsx
  packages/web/hooks/useAvailableTools.test.ts
  packages/web/hooks/useAvailableTools.ts
Due: prettier --write, eslint --fix

Fix router import consistency and final test reliability
  packages/web/components/ProjectSelectorPanel.test.tsx
  packages/web/components/config/ProjectSelectorPanel.test.tsx
Due: prettier --write, eslint --fix

Remove unused react-router-dom dependency
  packages/web/package.json
Due: none

Fix router mocks across all test files
  package-lock.json
  packages/core/src/agents/agent-abort-reliability.test.ts
  packages/web/components/ProjectSelectorPanel.test.tsx
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Apply final test quality improvements from code review
  packages/web/components/ProjectSelectorPanel.test.tsx
  packages/web/components/config/ProjectSelectorPanel.test.tsx
  packages/web/components/sidebar/__tests__/TaskSidebarSection.test.tsx
Due: prettier --write, eslint --fix

feat(containers): implement Phase 1 - Apple Container runtime with macOS container CLI
  docs/plans/2025-09-26/containers-plan.md
  docs/plans/2025-09-26/containers.md
  package-lock.json
  package.json
  packages/core/config/agent-personas/sections/tools.md
  packages/core/package.json
  packages/core/src/containers/apple-container.integration.test.ts
  packages/core/src/containers/apple-container.test.ts
  packages/core/src/containers/apple-container.ts
  packages/core/src/containers/runtime.test.ts
  packages/core/src/containers/runtime.ts
  packages/core/src/containers/simple-test.ts
  packages/core/src/containers/types.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(workspace): add CloneManager for git clone --local session workspaces
  packages/core/src/workspace/clone-manager.test.ts
  packages/core/src/workspace/clone-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(workspace): add WorkspaceContainerManager for containerized workspaces
  packages/core/src/workspace/workspace-container-manager.test.ts
  packages/core/src/workspace/workspace-container-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test(workspace): add comprehensive integration tests for containerized workspaces
  packages/core/src/workspace/workspace.integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(workspace): use setupCoreTest for proper LACE_DIR isolation
  packages/core/src/workspace/clone-manager.test.ts
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/workspace-container-manager.test.ts
  packages/core/src/workspace/workspace.integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(workspace): add LocalWorkspaceManager for null-container mode
  packages/core/src/workspace/local-workspace-manager.test.ts
  packages/core/src/workspace/local-workspace-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Integrate workspace manager into Session and BashTool
  packages/core/src/sessions/session-config.ts
  packages/core/src/sessions/session.ts
  packages/core/src/tools/implementations/bash.ts
  packages/core/src/workspace/local-workspace-manager.ts
  packages/core/src/workspace/workspace-container-manager.ts
  packages/core/src/workspace/workspace-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Add integration tests for Session with workspace manager
  packages/core/src/sessions/session-workspace.test.ts
  packages/core/src/sessions/session.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Update all file tools to use workspace-aware path resolution
  packages/core/src/tools/implementations/file_edit.ts
  packages/core/src/tools/implementations/file_find.ts
  packages/core/src/tools/implementations/file_list.ts
  packages/core/src/tools/implementations/file_read.ts
  packages/core/src/tools/implementations/file_write.ts
  packages/core/src/tools/implementations/ripgrep_search.ts
  packages/core/src/tools/tool.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Complete Phase 3: Full workspace integration with file tools
  packages/core/src/workspace/workspace-integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Add fully automated container end-to-end test
  packages/core/src/workspace/container-e2e.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(workspace): fix container E2E test assertions and path handling
  packages/core/src/workspace/container-e2e.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(workspace): fix workspace integration test output assertions
  packages/core/src/workspace/workspace-integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(web): add workspaceMode support to session creation API
  packages/web/app/routes/api.projects.$projectId.sessions.ts
Due: prettier --write, eslint --fix

fix(core): fix TypeScript errors for async Session.create
  packages/core/src/containers/runtime.ts
  packages/core/src/test-utils/delegation-test-helper.ts
  packages/core/src/tools/implementations/bash.ts
  packages/core/src/tools/tool.ts
  packages/core/src/workspace/local-workspace-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(workspace): auto-initialize git for non-git directories
  packages/core/src/workspace/clone-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(workspace): fix ESM import error in CloneManager
  packages/core/src/workspace/clone-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(workspace): recreate workspace when loading sessions from persistence
  packages/core/src/sessions/session.ts
  packages/core/src/workspace/clone-manager.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(workspace): implement singleton pattern for workspace managers
  packages/core/src/sessions/session.ts
  packages/core/src/workspace/workspace-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(workspace): prevent recreating workspaces that already exist
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/workspace-container-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(bash): use correct working directory in container mode
  packages/core/src/tools/implementations/bash.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(workspace): remove hardcoded container paths
  packages/core/src/sessions/session.ts
  packages/core/src/tools/implementations/bash.ts
  packages/core/src/workspace/workspace-container-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(mcp): use clone directory as working directory for MCP servers
  packages/core/src/sessions/session.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(agent): use session working directory for file path normalization
  packages/core/src/agents/agent.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(workspace): implement git worktrees for connected container workflow
  packages/core/docs/plans/2025-09-26/yolo-mode.md
  packages/core/src/workspace/workspace-container-manager.ts
  packages/core/src/workspace/worktree-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(containers): add git user config and use devcontainer image
  .github-issue-container-isolation.md
  packages/core/src/containers/apple-container.ts
  packages/core/src/workspace/workspace-container-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(tools): add permission override mode system (Phase 1 & 2)
  packages/core/src/sessions/session-permission-override.test.ts
  packages/core/src/sessions/session.ts
  packages/core/src/tools/implementations/bash.ts
  packages/core/src/tools/implementations/file_edit.ts
  packages/core/src/tools/implementations/file_find.ts
  packages/core/src/tools/implementations/file_list.ts
  packages/core/src/tools/implementations/file_read.ts
  packages/core/src/tools/implementations/file_write.ts
  packages/core/src/tools/implementations/ripgrep_search.ts
  packages/core/src/tools/implementations/url_fetch.ts
  packages/core/src/tools/types.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(sessions): implement permission override mode (Phases 3-4)
  packages/core/src/agents/agent.ts
  packages/core/src/sessions/session-config.ts
  packages/core/src/sessions/session-permission-override.test.ts
  packages/core/src/sessions/session.ts
  packages/core/src/tools/executor.ts
  packages/web/app/routes.ts
  packages/web/app/routes/api.sessions.$sessionId.permission-mode.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(api): integrate permission mode into configuration endpoint
  packages/web/app/routes.ts
  packages/web/app/routes/api.sessions.$sessionId.configuration.ts
  packages/web/app/routes/api.sessions.$sessionId.permission-mode.ts
Due: prettier --write, eslint --fix

refactor(session): move permission mode logic from API to Session class
  packages/core/src/sessions/session.ts
  packages/web/app/routes/api.sessions.$sessionId.configuration.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

Path conditions:
  cd packages/core && npx eslint --fix: any of: packages/core/src/**/*.{ts,tsx}
  prettier --write: ((any of: packages/core/src/**/*.{ts,tsx}) or (any of: packages/web/**/*.{ts,tsx})) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
