Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "packages/core/src/**/*.{ts,tsx}": [
    "cd packages/core && npx eslint --fix",
    "prettier --write"
  ],
  "packages/web/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

agent: add error categories to JSON-RPC errors
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

agent: implement delegate tool via subagent jobs
  packages/agent/src/server.ts
  packages/agent/src/tools/delegate.ts
Due: prettier --write, eslint --fix

agent: add delegate tool e2e tests
  packages/agent/src/__tests__/agent-process.delegate.e2e.test.ts
  packages/agent/src/runtime/test-provider.ts
Due: prettier --write, eslint --fix

agent: reuse core compaction registry for ent/session/compact
  packages/agent/src/compaction/compact-dropped-messages.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

agent: serialize durable event sequencing during turns
  packages/agent/src/__tests__/agent-process.event-seq.e2e.test.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

supervisor: add http+sse server and client
  packages/supervisor/src/http/client.ts
  packages/supervisor/src/http/server.ts
  packages/supervisor/src/http/types.ts
  packages/supervisor/src/index.ts
  packages/supervisor/src/main.ts
Due: prettier --write, eslint --fix

web: fix supervisor spawn path + tool_use handling
  packages/web/lib/server/supervisor-service.ts
Due: prettier --write, eslint --fix

web: fix supervisor spawn + entrypoint resolution
  packages/web/lib/server/supervisor-service.ts
Due: prettier --write, eslint --fix

delegate: move tool definition to core
  packages/agent/src/server.ts
  packages/core/package.json
  packages/core/src/tools/executor.ts
  packages/core/src/tools/implementations/delegate.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

agent: make permission requests durable
  packages/agent/src/__tests__/agent-process.e2e.test.ts
  packages/agent/src/server.ts
  packages/agent/src/storage/__tests__/session-store.test.ts
  packages/agent/src/storage/permissions-from-events.ts
  packages/agent/src/storage/session-store.ts
Due: prettier --write, eslint --fix

docs: specify durable permission events
  docs/plans/2026-01-03/agent-process-refactor-spec.md
  docs/protocol-spec.md
Due: none

agent: reuse ent-protocol session/update types
  docs/protocol-spec.md
  packages/agent/src/protocol/types.ts
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

docs: list complete Ent error codes
  docs/protocol-spec.md
Due: none

agent: implement session/set_mode
  packages/agent/src/__tests__/session-set-mode.e2e.test.ts
  packages/agent/src/server.ts
  packages/supervisor/src/http/server.ts
Due: prettier --write, eslint --fix

spec: document mcpServers in ent/session/configure
  docs/protocol-spec.md
  packages/agent/src/server.ts
Due: prettier --write, eslint --fix

chore: include new packages in lint/typecheck
  package.json
  packages/agent/package.json
  packages/core/src/tools/implementations/file_edit.test.ts
  packages/ent-protocol/package.json
  packages/supervisor/package.json
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

supervisor: cover duplicate permission resolves (E2E)
  packages/supervisor/src/__tests__/supervisor-http.permission-race.e2e.test.ts
Due: prettier --write, eslint --fix

chore: add eslint configs for new packages
  packages/agent/eslint.config.js
  packages/ent-protocol/eslint.config.js
  packages/supervisor/eslint.config.js
Due: none

test/lint: fix workspace lint and expand root test
  package.json
  packages/agent/src/__tests__/agent-process.delegate.e2e.test.ts
  packages/agent/src/server.ts
  packages/core/src/tools/implementations/delegate.ts
  packages/ent-protocol/src/schemas/methods.ts
  packages/ent-protocol/src/transport/__tests__/stdio.test.ts
  packages/supervisor/src/__tests__/supervisor-http.permission-race.e2e.test.ts
  packages/supervisor/src/supervisor.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

cli: send full initialize params
  packages/cli/src/__tests__/e2e.lace-agent.initialize.test.ts
  packages/cli/src/__tests__/e2e.lace-agent.test.ts
  packages/cli/src/main.ts
Due: prettier --write, eslint --fix

tui: send required initialize params
  packages/tui/src/protocol/bootstrap.rs
  packages/tui/src/protocol/ent.rs
  packages/tui/tests/e2e_configure_wizard.rs
  packages/tui/tests/e2e_fake_agent_permission.rs
  packages/tui/tests/e2e_fake_agent_streaming.rs
  packages/tui/tests/e2e_session_update_as_request.rs
  packages/tui/tests/e2e_sessions_list_load.rs
Due: none

chore(agent): create directory structure for core dissolution
  packages/agent/src/mcp/.gitkeep
  packages/agent/src/providers/.gitkeep
  packages/agent/src/tools/.gitkeep
  packages/agent/src/utils/.gitkeep
  packages/agent/src/workspace/.gitkeep
Due: none

feat(agent): move tools from core to agent
  packages/agent/src/server.ts
  packages/agent/src/tools/.gitkeep
  packages/agent/src/tools/bash.test.ts
  packages/agent/src/tools/context-working-directory.test.ts
  packages/agent/src/tools/executor.test.ts
  packages/agent/src/tools/executor.ts
  packages/agent/src/tools/file-edit-actual.test.ts
  packages/agent/src/tools/file-edit-context.test.ts
  packages/agent/src/tools/file-find.test.ts
  packages/agent/src/tools/file-read.test.ts
  packages/agent/src/tools/file-write.test.ts
  packages/agent/src/tools/implementations/bash.ts
  packages/agent/src/tools/implementations/delegate.ts
  packages/agent/src/tools/implementations/file_edit.test.ts
  packages/agent/src/tools/implementations/file_edit.ts
  packages/agent/src/tools/implementations/file_find.ts
  packages/agent/src/tools/implementations/file_read.ts
  packages/agent/src/tools/implementations/file_write.ts
  packages/agent/src/tools/implementations/ripgrep_search.ts
  packages/agent/src/tools/implementations/url_fetch.ts
  packages/agent/src/tools/ripgrep-search.test.ts
  packages/agent/src/tools/schemas/common.test.ts
  packages/agent/src/tools/schemas/common.ts
  packages/agent/src/tools/temp-directory-integration.test.ts
  packages/agent/src/tools/tool-base.test.ts
  packages/agent/src/tools/tool-catalog.test.ts
  packages/agent/src/tools/tool-catalog.ts
  packages/agent/src/tools/tool.test.ts
  packages/agent/src/tools/tool.ts
  packages/agent/src/tools/toolcontext-no-agent.test.ts
  packages/agent/src/tools/types-approval.test.ts
  packages/agent/src/tools/types.test.ts
  packages/agent/src/tools/types.ts
  packages/agent/src/tools/url-fetch.test.ts
  packages/agent/src/tools/utils/file-suggestions.test.ts
  packages/agent/src/tools/utils/file-suggestions.ts
Due: prettier --write, eslint --fix

feat(agent): move MCP from core to agent
  packages/agent/src/mcp/index.ts
  packages/agent/src/mcp/server-manager.test.ts
  packages/agent/src/mcp/server-manager.ts
  packages/agent/src/mcp/tool-adapter.test.ts
  packages/agent/src/mcp/tool-adapter.ts
  packages/agent/src/mcp/tool-registry.test.ts
  packages/agent/src/mcp/tool-registry.ts
  packages/agent/src/mcp/types.test.ts
  packages/agent/src/server.ts
  packages/agent/src/tools/executor.ts
  packages/agent/src/tools/tool-catalog.test.ts
  packages/agent/src/tools/tool-catalog.ts
Due: prettier --write, eslint --fix

feat(agent): move workspace and containers from core to agent
  packages/agent/src/containers/apple-container.integration.test.ts
  packages/agent/src/containers/apple-container.test.ts
  packages/agent/src/containers/apple-container.ts
  packages/agent/src/containers/container-cleanup-validation.test.ts
  packages/agent/src/containers/runtime.test.ts
  packages/agent/src/containers/runtime.ts
  packages/agent/src/containers/simple-test.ts
  packages/agent/src/containers/types.ts
  packages/agent/src/tools/types.ts
  packages/agent/src/workspace/clone-manager.test.ts
  packages/agent/src/workspace/clone-manager.ts
  packages/agent/src/workspace/container-e2e.test.ts
  packages/agent/src/workspace/local-workspace-manager.test.ts
  packages/agent/src/workspace/local-workspace-manager.ts
  packages/agent/src/workspace/workspace-cleanup-validation.test.ts
  packages/agent/src/workspace/workspace-container-manager.test.ts
  packages/agent/src/workspace/workspace-container-manager.ts
  packages/agent/src/workspace/workspace-integration.test.ts
  packages/agent/src/workspace/workspace-manager.ts
  packages/agent/src/workspace/workspace.integration.test.ts
  packages/agent/src/workspace/worktree-manager.test.ts
  packages/agent/src/workspace/worktree-manager.ts
  packages/agent/src/workspace/worktree-workspace-manager.test.ts
  packages/agent/src/workspace/worktree-workspace-manager.ts
  packages/core/src/test-utils/core-test-setup.ts
  packages/core/src/tools/types.ts
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
  packages/web/components/config/WorkspaceDetailsPanel.tsx
  packages/web/components/config/__tests__/WorkspaceDetailsPanel.test.tsx
  packages/web/components/providers/SessionProvider.tsx
  packages/web/hooks/useWorkspaceDetails.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(agent): move config package from core to agent
  packages/agent/config/agent-personas/coding-agent.md
  packages/agent/config/agent-personas/helper-agent.md
  packages/agent/config/agent-personas/lace.md
  packages/agent/config/agent-personas/sections/agent-personality.md
  packages/agent/config/agent-personas/sections/code-quality.md
  packages/agent/config/agent-personas/sections/collaboration.md
  packages/agent/config/agent-personas/sections/core-principles.md
  packages/agent/config/agent-personas/sections/environment.md
  packages/agent/config/agent-personas/sections/error-recovery.md
  packages/agent/config/agent-personas/sections/examples.md
  packages/agent/config/agent-personas/sections/interaction-patterns.md
  packages/agent/config/agent-personas/sections/tools.md
  packages/agent/config/agent-personas/sections/workflows.md
  packages/agent/config/agent-personas/session-summary.md
  packages/agent/src/config/env-loader.ts
  packages/agent/src/config/example-personas.test.ts
  packages/agent/src/config/lace-dir.test.ts
  packages/agent/src/config/lace-dir.ts
  packages/agent/src/config/mcp-config-loader.test.ts
  packages/agent/src/config/mcp-config-loader.ts
  packages/agent/src/config/mcp-types.test.ts
  packages/agent/src/config/mcp-types.ts
  packages/agent/src/config/persona-registry.test.ts
  packages/agent/src/config/persona-registry.ts
  packages/agent/src/config/prompt-manager-persona.test.ts
  packages/agent/src/config/prompt-manager.test.ts
  packages/agent/src/config/prompt-manager.ts
  packages/agent/src/config/prompts.test.ts
  packages/agent/src/config/prompts.ts
  packages/agent/src/config/template-engine.test.ts
  packages/agent/src/config/template-engine.ts
  packages/agent/src/config/user-settings.test.ts
  packages/agent/src/config/user-settings.ts
  packages/agent/src/config/variable-providers.test.ts
  packages/agent/src/config/variable-providers.ts
Due: prettier --write, eslint --fix

feat(agent): move token-management from core to agent
  packages/agent/src/token-management/context-breakdown-types.ts
  packages/agent/src/token-management/index.ts
  packages/agent/src/token-management/stop-reason-handler.ts
  packages/agent/src/token-management/types.ts
  packages/agent/src/tools/types.ts
  packages/web/types/context.ts
  packages/web/types/core.ts
Due: prettier --write, eslint --fix

feat(agent): move helpers from core to agent
  packages/agent/src/helpers/base-helper.test.ts
  packages/agent/src/helpers/base-helper.ts
  packages/agent/src/helpers/helper-registry.test.ts
  packages/agent/src/helpers/helper-registry.ts
  packages/agent/src/helpers/index.ts
  packages/agent/src/helpers/infrastructure-helper.test.ts
  packages/agent/src/helpers/infrastructure-helper.ts
  packages/agent/src/helpers/types.ts
  packages/web/lib/server/lace-imports.ts
Due: prettier --write, eslint --fix

feat(agent): move projects from core to agent
  packages/agent/src/projects/environment-variables.test.ts
  packages/agent/src/projects/environment-variables.ts
  packages/agent/src/projects/project-store.ts
  packages/agent/src/projects/project.test.ts
  packages/agent/src/projects/project.ts
  packages/agent/src/tools/executor.ts
  packages/agent/src/tools/tool-catalog.ts
  packages/agent/src/workspace/workspace-integration.test.ts
  packages/core/src/tools/executor.ts
  packages/core/src/tools/tool-catalog.ts
  packages/core/src/workspace/workspace-integration.test.ts
  packages/web/lib/server/lace-imports.ts
  packages/web/types/core.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

chore: update web test imports from @lace/core/projects to @lace/agent/projects
  packages/web/app/routes/__tests__/api.projects.$projectId.sessions.test.ts
  packages/web/app/routes/__tests__/api.projects.integration.test.ts
Due: prettier --write, eslint --fix

feat(agent): move compaction strategies from core to agent
  packages/agent/src/compaction/compact-dropped-messages.ts
  packages/agent/src/compaction/index.ts
  packages/agent/src/compaction/registry.ts
  packages/agent/src/compaction/summarize-strategy.test.ts
  packages/agent/src/compaction/summarize-strategy.ts
  packages/agent/src/compaction/trim-tool-results-strategy.test.ts
  packages/agent/src/compaction/trim-tool-results-strategy.ts
  packages/agent/src/compaction/types.ts
Due: prettier --write, eslint --fix

feat(ent-protocol): add shared types for tool, provider, workspace
  packages/ent-protocol/src/index.ts
  packages/ent-protocol/src/types/index.ts
  packages/ent-protocol/src/types/shared.ts
Due: prettier --write, eslint --fix

refactor(web): use ent-protocol types instead of agent imports
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
  packages/web/components/config/WorkspaceDetailsPanel.tsx
  packages/web/components/config/__tests__/WorkspaceDetailsPanel.test.tsx
  packages/web/components/providers/SessionProvider.tsx
  packages/web/hooks/useWorkspaceDetails.ts
  packages/web/types/context.ts
  packages/web/types/core.ts
Due: prettier --write, eslint --fix

feat(protocol): add ent/tools/list method
  packages/agent/src/server.ts
  packages/ent-protocol/src/schemas/methods.ts
Due: prettier --write, eslint --fix

feat(protocol): add ent/mcp/* methods for MCP server management
  packages/agent/src/server.ts
  packages/ent-protocol/src/errors.ts
  packages/ent-protocol/src/schemas/__tests__/protocol-shapes.test.ts
  packages/ent-protocol/src/schemas/methods.ts
Due: prettier --write, eslint --fix
