Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "packages/core/src/**/*.{ts,tsx}": [
    "cd packages/core && npx eslint --fix",
    "prettier --write"
  ],
  "packages/web/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

refactor(web): update CompactionEntry to use compactedEventCount
  packages/web/components/timeline/CompactionEntry.tsx
Due: prettier --write, eslint --fix

refactor(threads): remove event-hydration module
  packages/core/src/threads/conversation-builder.ts
  packages/core/src/threads/event-hydration.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: improve compaction error handling and code clarity
  packages/core/src/threads/thread-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(compaction): change CompactionData to remove nested events
  packages/core/src/threads/compaction/types.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(threads): persist compacted events as first-class database rows
  packages/core/src/threads/compaction-integration.test.ts
  packages/core/src/threads/compaction/enhanced-summarize.test.ts
  packages/core/src/threads/conversation-builder.ts
  packages/core/src/threads/thread-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

docs: add architectural refactoring plans
  docs/plans/2025-10-01/remove-getLaceEvents.md
  docs/plans/2025-10-01/review-tasks-1-4.md
  docs/plans/2025-10-01/simplify-compaction-architecture.md
Due: none

fix: address code review issues
  packages/core/src/threads/compaction/enhanced-summarize.test.ts
  packages/core/src/threads/compaction/trim-tool-results-strategy.test.ts
  packages/core/src/threads/thread-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(compaction): update trim strategy to return CompactionResult
  packages/core/src/threads/compaction/trim-tool-results-strategy.test.ts
  packages/core/src/threads/compaction/trim-tool-results-strategy.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test: update compaction tests for new architecture
  packages/core/src/threads/compaction-visibility.test.ts
  packages/core/src/threads/conversation-builder.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: change default workspace mode to worktree and improve cleanup
  packages/core/src/containers/apple-container.integration.test.ts
  packages/core/src/test-utils/core-test-setup.ts
  packages/core/src/workspace/workspace-manager.ts
  packages/core/src/workspace/workspace.integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: add worktree cleanup to test teardown
  packages/core/src/test-utils/core-test-setup.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: close database before worktree cleanup
  packages/core/src/test-utils/core-test-setup.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: use DEFAULT_WORKSPACE_MODE constant and add git command timeouts
  packages/core/src/sessions/session-workspace.test.ts
  packages/core/src/sessions/session.ts
  packages/core/src/workspace/workspace-manager.ts
  packages/core/src/workspace/worktree-manager.ts
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: create DEFAULT_WORKSPACE_MODE constant as single source of truth
  packages/core/src/containers/container-cleanup-validation.test.ts
  packages/core/src/workspace/workspace-cleanup-validation.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: never fall back to process.cwd() for working directory
  packages/core/find-git-polluter.sh
  packages/core/src/sessions/session.ts
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/workspace-cleanup-validation.test.ts
  packages/core/src/workspace/worktree-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: validate projectDir and workingDirectory are not empty
  packages/core/src/agents/agent.test.ts
  packages/core/src/projects/project.ts
  packages/core/src/sessions/session.ts
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/worktree-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: prevent .git pollution with tempDir getter and test-only validation
  packages/core/src/agents/agent-session-context.test.ts
  packages/core/src/agents/agent-system-prompt-refresh.test.ts
  packages/core/src/agents/agent-tool-abort.test.ts
  packages/core/src/agents/batch-completion-behavior.test.ts
  packages/core/src/agents/tool-approval-race-conditions.test.ts
  packages/core/src/sessions/session-permission-auto-resolve.test.ts
  packages/core/src/test-utils/core-test-setup.ts
  packages/core/src/test-utils/temp-lace-dir.ts
  packages/core/src/token-management/context-analyzer.test.ts
  packages/core/src/tools/temp-directory-integration.test.ts
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/worktree-manager.ts
  packages/core/vitest.config.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: improve temp directory cleanup with retries
  packages/core/src/test-utils/temp-lace-dir.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: await agent.compact() to prevent unhandled rejection
  packages/core/src/agent-thread-integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: handle invalid session ID format in workspace API
  packages/web/app/routes/api.sessions.$sessionId.workspace.ts
Due: prettier --write, eslint --fix

refactor: improve validation error messages, keep NODE_ENV guards
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/worktree-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: add Project.create() validation and fix all test path issues
  packages/core/find-git-polluter.sh
  packages/core/src/agents/agent-config.test.ts
  packages/core/src/agents/agent-session-context.test.ts
  packages/core/src/agents/agent-system-prompt-refresh.test.ts
  packages/core/src/agents/agent-tool-abort.test.ts
  packages/core/src/agents/batch-completion-behavior.test.ts
  packages/core/src/agents/tool-approval-race-conditions.test.ts
  packages/core/src/delegation-integration.test.ts
  packages/core/src/projects/project-config.test.ts
  packages/core/src/projects/project.test.ts
  packages/core/src/projects/project.ts
  packages/core/src/sessions/session-config-integration.test.ts
  packages/core/src/sessions/session-spawn-agent-provider-instances.test.ts
  packages/core/src/sessions/session.test.ts
  packages/core/src/tasks/task-assignment-message.test.ts
  packages/core/src/tasks/task-assignment-model-resolution.integration.test.ts
  packages/core/src/tasks/task-notification-integration.test.ts
  packages/core/src/tools/implementations/delegate-task-based.test.ts
  packages/core/src/tools/implementations/file_edit.test.ts
  packages/core/src/tools/implementations/task-manager/bulk-tasks.test.ts
  packages/core/src/tools/implementations/task-manager/integration.test.ts
  packages/core/src/tools/implementations/task-manager/tools.test.ts
  packages/core/src/tools/implementations/task-manager/workflow.integration.test.ts
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/worktree-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: remove duplicate cleanup and fix context/toolContext issues
  packages/core/src/sessions/session-config-integration.test.ts
  packages/core/src/tools/delegate.test.ts
  packages/core/src/tools/implementations/task-manager/tools.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: use temp directory in task-assignment-model-resolution test
  packages/core/src/tasks/task-assignment-model-resolution.integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test(web): extend setupWebTest() to provide tempProjectDir
  packages/web/app/routes/__tests__/api.projects.$projectId.integration.test.ts
  packages/web/app/routes/__tests__/api.projects.test.ts
  packages/web/lib/server/agent-start-issue.test.ts
  packages/web/test-utils/web-test-setup.ts
Due: prettier --write, eslint --fix

small fixes to testing
  packages/core/src/agents/batch-completion-behavior.test.ts
  packages/core/src/token-management/context-analyzer.test.ts
  packages/core/src/tools/tool-catalog.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test(web): fix all remaining tests to use real temp directories
  packages/core/src/agents/agent-tool-abort.test.ts
  packages/core/src/agents/batch-completion-behavior.test.ts
  packages/core/src/test-utils/mock-slow-tool.ts
  packages/web/app/api/compaction-integration.test.ts
  packages/web/app/api/compaction-simple.test.ts
  packages/web/app/full-flow.test.ts
  packages/web/app/routes/__tests__/api.projects.$projectId.sessions.test.ts
  packages/web/app/routes/__tests__/api.projects.integration.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.agents-message-flow.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.agents-persona-prompts.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.agents-persona.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.agents.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.configuration.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.configuration.tool-permissions.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.test.ts
  packages/web/app/routes/__tests__/api.sessions.$sessionId.workspace.test.ts
  packages/web/components/providers/__tests__/SessionProvider.test.tsx
  packages/web/hooks/useSSEStream.e2e.test.ts
  packages/web/hooks/useTaskManager.e2e.test.tsx
  packages/web/lib/client/task-api.e2e.test.ts
  packages/web/lib/server/session-service-singleton.test.ts
  packages/web/lib/server/session-service-spawn.test.ts
  packages/web/lib/server/session-spawn-agent.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(web): fix all remaining test failures
  packages/core/src/agents/agent-tool-abort.test.ts
  packages/core/src/agents/batch-completion-behavior.test.ts
  packages/core/src/agents/tool-approval-race-conditions.test.ts
  packages/web/app/routes/__tests__/api.threads.$threadId.message.test.ts
  packages/web/test-utils/web-test-setup.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test: improve test reliability with event-based waiting
  packages/core/src/agents/agent-tool-abort.test.ts
  packages/core/src/agents/batch-completion-behavior.test.ts
  packages/core/src/agents/tool-approval-race-conditions.test.ts
  packages/core/src/test-utils/event-waiters.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: address linting errors and code review findings
  packages/core/src/agents/tool-approval-race-conditions.test.ts
  packages/core/src/test-utils/core-test-setup.ts
  packages/core/src/test-utils/temp-lace-dir.ts
  packages/core/src/threads/thread-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor: improve test code quality and remove debugging artifacts
  packages/core/find-git-polluter.sh
  packages/core/src/containers/container-cleanup-validation.test.ts
  packages/core/src/workspace/clone-manager.ts
  packages/core/src/workspace/workspace-cleanup-validation.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test: run resource-intensive tests sequentially
  packages/web/server.test.ts
  packages/web/typescript-compilation.test.ts
Due: prettier --write, eslint --fix

fix: remove process.cwd() fallbacks from Agent._getWorkingDirectory()
  packages/core/src/agents/agent-approval-orchestration.test.ts
  packages/core/src/agents/agent.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(web): prevent 504 errors on initial page load in dev mode
  packages/web/vite.config.ts
Due: prettier --write, eslint --fix

fix(web): add silent 404 catch-all route
  packages/web/app/routes.ts
  packages/web/app/routes/$.tsx
Due: prettier --write, eslint --fix

refactor(web): simplify server startup by moving Sentry import
  packages/web/package.json
  packages/web/server-custom.ts
Due: prettier --write, eslint --fix

fix(web): use Link component and warm up API routes
  packages/web/app/routes/$.tsx
  packages/web/vite.config.ts
Due: prettier --write, eslint --fix

chore: add claude-agent-sdk to root package.json dependencies
  package.json
Due: none

fix: correct provider context implementation and test mocks
  packages/core/src/agents/agent.test.ts
  packages/core/src/agents/agent.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix
