Repository obra/lace: changes, and which lint-staged commands are due for each by the changed paths.
All: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "packages/core/src/**/*.{ts,tsx}": [
    "cd packages/core && npx eslint --fix",
    "prettier --write"
  ],
  "packages/web/**/*.{ts,tsx}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

feat(providers): add ProviderRequestContext to provider interface
  .gitignore
  docs/plans/2025-10-01/claude-agents-sdk-fix.md
  docs/plans/2025-10-01/claude-agents-sdk.md
  packages/core/src/agents/agent.ts
  packages/core/src/providers/anthropic-provider.ts
  packages/core/src/providers/base-provider.ts
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
  packages/core/src/providers/gemini-provider.ts
  packages/core/src/providers/lmstudio-provider.ts
  packages/core/src/providers/ollama-provider.ts
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat: add claude-agent-sdk dependency and provider stub
  package-lock.json
  packages/core/package.json
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
  packages/core/src/providers/registry.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

docs: mark Phase 6 complete in implementation plan
  docs/plans/2025-10-01/claude-agents-sdk.md
Due: none

style: wrap case block in braces to fix linting warning
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(claude-sdk): add history fingerprinting for session resumption
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(claude-sdk): add approval bridge with event system
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

docs: mark Phase 7 complete in implementation plan
  docs/plans/2025-10-01/claude-agents-sdk.md
Due: none

feat(ui): support credential-less SDK provider instance creation
  packages/web/components/providers/AddInstanceModal.tsx
Due: prettier --write, eslint --fix

docs: document remaining fixes for SDK provider testing
  docs/plans/2025-10-01/fixes.md
Due: none

feat(claude-sdk): add MCP server wrapping Lace tools
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(claude-sdk): support OAuth flow and credential-less instances
  packages/core/src/providers/claude-sdk-provider.ts
  packages/core/src/providers/registry.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix: use ToolExecutor's environment manager for merged project env
  packages/core/src/agents/agent.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

test(claude-sdk): add integration and E2E tests
  packages/core/src/providers/claude-sdk-e2e.test.ts
  packages/core/src/providers/claude-sdk-integration.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(api): allow credential-less instance creation for SDK provider
  packages/web/app/routes/api.provider.instances.ts
  packages/web/components/providers/ProviderInstanceProvider.tsx
Due: prettier --write, eslint --fix

fix(claude-sdk): resolve TypeScript compilation errors
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

docs: update plan with Phase 0-5 completion status
  docs/plans/2025-10-01/claude-agents-sdk.md
Due: none

feat(claude-sdk): enable auto-authentication without session token
  packages/core/src/providers/claude-sdk-integration.test.ts
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
  packages/web/components/providers/AddInstanceModal.tsx
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(claude-sdk): use correct SDK model IDs and improve error logging
  packages/core/src/providers/catalog/data/claude-agents-sdk.json
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(claude-sdk): fix linting errors and improve type safety
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(providers): add Claude Agent SDK catalog entry
  packages/core/src/providers/catalog/data/claude-agents-sdk.json
Due: none

feat(claude-sdk): implement createResponse and createStreamingResponse
  packages/core/src/providers/claude-sdk-provider.test.ts
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(claude-sdk): add OAuth token authentication and fix PATH for subprocess
  packages/core/docs/plans/2025-09-26/yolo-mode.md
  packages/core/src/providers/claude-sdk-provider.ts
  packages/core/src/providers/registry.ts
  packages/web/components/providers/AddInstanceModal.tsx
  packages/web/vite.config.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

rebase messup
  packages/web/vite.config.ts
Due: prettier --write, eslint --fix

fix(claude-sdk): pass undefined env to enable PATH search in subprocess spawn
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(claude-sdk): fix subprocess spawn by validating cwd and using process.env
  packages/core/src/providers/claude-sdk-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(claude-sdk): integrate tool approval with ToolExecutor system
  packages/core/docs/plans/2025-10-04/sdk-provider-status.md
  packages/core/src/providers/claude-sdk-provider.ts
  packages/core/src/providers/claude-sdk-tool-approval.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(providers): add dynamic catalog fetching for OpenAI
  packages/core/src/providers/openai/client.ts
  packages/core/src/providers/openai/dynamic-provider.ts
  packages/core/src/providers/openai/types.ts
  packages/core/src/providers/registry.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): address code review feedback for OpenAI dynamic catalog
  packages/core/src/providers/openai/client.ts
  packages/core/src/providers/openai/dynamic-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): fix dynamic catalog not being used in getCatalogProviders
  packages/core/src/providers/openai/dynamic-provider.ts
  packages/core/src/providers/registry.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(providers): add OpenAI Responses API support and dynamic catalog discovery
  package-lock.json
  package.json
  packages/core/src/providers/catalog/types.ts
  packages/core/src/providers/openai-provider.ts
  packages/core/src/providers/openai/dynamic-provider.ts
  packages/core/src/providers/openrouter/dynamic-provider.ts
  packages/core/src/providers/registry.ts
  packages/web/components/providers/ProviderModelGroup.tsx
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): include tool calls/results in Responses API conversation history
  packages/core/src/agents/agent.ts
  packages/core/src/providers/openai-format-ordering.test.ts
  packages/core/src/providers/openai-provider.ts
  packages/core/src/sessions/session.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(agents): create AGENT_MESSAGE for tool-only responses
  packages/core/src/agents/agent.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): respect instance endpoint in OpenAI dynamic catalog
  packages/core/src/providers/openai/client.ts
  packages/core/src/providers/openai/dynamic-provider.ts
  packages/core/src/providers/registry.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): use proper Responses API input format for tool calls/results
  packages/core/src/agents/agent.ts
  packages/core/src/providers/openai-provider.ts
  packages/web/lib/event-stream-manager.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

feat(providers): add per-instance catalog discovery
  packages/core/src/providers/registry.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(tools): track file_write as file knowledge for edit protection
  packages/core/src/agents/agent.ts
  packages/core/src/agents/hasFileBeenRead-working-directory.test.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

refactor(logging): move verbose debug logs to trace level
  packages/core/src/agents/agent.ts
  packages/core/src/providers/openai-provider.ts
  packages/core/src/utils/logger.ts
  packages/core/src/utils/provider-logging.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix

fix(providers): gracefully handle truncated streaming tool arguments
  packages/core/src/providers/openai-provider.ts
Due: cd packages/core && npx eslint --fix, prettier --write, eslint --fix
